@model Review;
    
<!-- A breadcrumb partial -->
<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("/recipe","Recipes"),
    ($"/recipe/details/{Model.Id}", $"Recipe {Model.Id}"),
    ("","Details-Review")
    
}) />

<div class="card rounded shadow p-4">
    <h3> Review <span class="ms-3 text-danger fs-5"></span></h3>

    <!-- display the recipe using a <dl> as per Details.cshtml -->   
    <dl class="row mt-3">       
        <dt class="col-5">Recipe</dt>
        <dd class="col-7">@Model.Recipe.Name</dd>

        <dt class="col-5">Comment</dt>
        <dd class="col-7">@Model.Comment</dd>
        
        <dt class="col-5">Created</dt>
        <dd class="col-7">@Model.CreatedOn.ToShortDateString()</dd>
        
        <dt class="col-5">Rating</dt>
        <dd class="col-7">@Model.Rating</dd>           
    </dl>   

                @* anchor tag back to the details page *@
            <div>
                <a class="btn btn-primary" asp-controller="Recipe" asp-action="Details" asp-route-id="@Model.RecipeId" aria-label="cancel">Back</a>
            </div>
            
    
</div>